.App {
  padding-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.green {
  background-color: lightgreen !important;
}

.red {
  background-color: #ffcccb !important;
}

.modal div {
  background-color: #ffcccb !important;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  align-items: center;
  border: none;
}

.attention {
  font-size: 25px;
}

.input {
  margin: 30px auto;
}

.tableHead {
  background-color: #cfe2f3;
}